<div class="row m-10-bottom">
  <div class="col l6 offset-l3 m6 s12 center">
    <h3 class="amber-text text-darken-2 fw-200 ">Resend Confirmation Email</h3>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), remote: true) do |f| %>


<div class="row">
	<div class="col l6 offset-l3 m12 s12 center">
		<div class="input-field ">
			
			<input id="user_email" type="email" name="user[email]" required="true" class="virgin" autofocus="autofocus" value=<%= resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email %>></input>
			<label for="user_email" style="text-align:left;">Enter your E-mail here</label>
	         
		</div>
	</div>
	
</div>
<div class="row center m-70-bottom">
	<div class="m-50-top">
		<button type="submit" value="Finish" class="btn waves-effect waves-light blue-grey darken-3">Resend Confirmation Instructions</button>
	</div>
</div>
  
<% end %>

<div class="row p-20-left p-20-right p-20-top p-40-bottom p-20-top center teal-text fw-300 fs-18 m-30-top" style="border:1px solid gainsboro; display:none;"id="info_box">

	<div id="success_response" style="display:none;">
		<i class="teal-text mdi-action-thumb-up fs-100"></i>
		<div>
		The confirmation e-mail was succesfully sent.<br>
		Please check your spam folder if you don't receive it.
		</div>
	</div>

	<div id="failed_response" style="display:none;" class="red-text">
		<i class="red-text mdi-action-thumb-down fs-100"></i>
		<div>
		Failed to send the confirmation email, please try again after a while.
	</div>


</div>
