<!-- needs to be passed in following variables:
user_list -> array of user ids | or user objects.
IT WOULD BE BETTER TO WRITE THAT FOUR OR WHATEVER USERS MARKED THIS AS SPAM, 
AND USE THE SPAM BUTTON JUST TO INCREMENT THE COUNT.
this avoids mixing up spam increment and showing the users who marked it as spam modal, but this will need to be marked out.
-->
<ul class="collection">
    <% users_list.each do |user| %>
	    <li class="collection-item avatar"> 
	      <img src="<%= 
	      	if user.respond_to? "image"
	      		user.image.url
	      	else
				"/assets/avatar.png"				   	
	      	end  %>" alt="" class="circle" />
	      <%= link_to user.email, profile_user_path(user.id), {} %>
	    </li>
    <% end %>
</ul>