$("#users_list_modal_main").find(".modal-content").append("<%= escape_javascript(render partial: 'users/profiles/users_list.html.erb', locals:{users_list: users_list}) %>");
//open the modal if it is closed.
if($('#users_list_modal_main').is(':visible')){

}
else{
	$("#users_list_modal_main").openModal({});
}