<div id="add_a_link_modal" class="modal bottom-sheet">
	<div class="modal-content">
	  <h4 class="text-darken-2">Paste Link
	   <i class="mdi-content-clear right cursor-pointer modal-close" data-modal-id="add_a_link_modal"></i>
	  </h4>
	  <input type="text" id="link" style="width:50%" value="" placeholder="Enter the link"/>
	  <input type="text" id="link-title" style="width:50%" placeholder="Enter a title for your link" />
	  <br />
	  <div id="link-error-message" class="m-0-top fs-12 blue-grey-text text-darken-2 fw-500" style="display:none;"><i class="mdi-alert-error grey-text text-lighten-1"></i>That link is invalid</div>
	  <button class="btn waves-effect waves-light m-20-top modal-close">Save</button>
	</div>
	<div style="height:30px"></div>
</div>