<!-- c : element, type:"image/link/content/title"-->
<%
tid = type + "_id"
dt_id = c.send(tid).nil? ? nil : c.send(tid)
%>
<div>
<i class="mdi-alert-error grey-text text-lighten-2 disapprove-tooltip disapprove spam_marker" title="Mark <%= type %> as inappropriate" data-element-id="<%= c.id.to_s %>" data-spam-type="<%= type %>" data-type-id="<%= dt_id %>" data-corner-id="<%= corner_id %>" style="display:none;"></i>
</div>