<div class="card-reveal p-40-bottom" style="width:100%; padding-left:0px; padding-top:5px; overflow-y: visible; display:block;" id="<%= c.id.to_s %>_reveal" data-element-id="<%= c.id.to_s %>">
  <span class="card-title grey-text text-darken-4 p-20-top">Help Us With Spam!<i></i></span>

  <table class="bordered" id="<%= c.id.to_s %>_table" data-element-id="<%= c.id.to_s %>">
        <thead>
          <tr>
              <th data-element-th=""></th>
              <th data-element-th=""></th>
          </tr>
        </thead>
        <tbody>
          <% [[c.image.url,"image"],[c.title,"title"],[c.content,"content"],[c.link,"link"]].each do |val| %>
              <% if show_spam_row(val,c) %>
                <tr class="reveal_row">
                  <td class="p-20-left">
                    <div>
                      <% if val[1] == "image" %>
                          <% if c.has_image? %>
                            <img src="<%= val[0] %>" height="40px" width="40px" />
                          <% end %>
                      <% else %>
                        <%= truncate(val[0].to_s, length: 70) %>
                      <% end %>
                    </div>
                    <% count = c.has_spam(val[1]) %>
                    <div class="grey-text text-darken-2">
                        <span class="users_list_activator" id="<%= c.id.to_s + "_" + val[1] + "_spam_contributors_list" %>" data-element-id="<%= c.id.to_s %>" data-corner-id="<%= corner_id %>" data-attribute-type="<%= val[1] %>"><%= n_users_marked_this_as_spam(c,current_user,count,val[1]) %></span>
                    </div>
                  </td>
                  <td>
                    <%= render :partial => "corners/spam_icon.html.erb", locals: {:c => c, :type => val[1], :corner_id => corner_id, location: "spam_table"} %>
                  </td>
                </tr>
              <% end %>
          <% end %>
        </tbody>
 </table>
 <div class="p-20-bottom m-20-top fs-12 blue-grey-text text-lighten-2 deactivator" data-element-id="<%= c.id.to_s %>">Dismiss</div>
 <div class="card-reveal-bottom-marker" data-element-id="<%= c.id.to_s %>">
 </div>
</div>