<div class="fixed-action-btn" id="floating_update_button" data-corner-id="<%= c.id.to_s %>" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="mdi-content-save"></i>
  </a>
  <ul>
      <li class="red-text text-lighten-2 fw-400 fs-12">Save changes</li>
    </ul>
</div>