<div class="row <%= c.is_a_corner? ? "corner" : "unit" %>" data-element-id="<%= c.id.to_s %>" data-corner-id="<%= 

	if c.is_a_corner?
		c.id.to_s 
	else
		if parent_corner.nil?
			c.corner_id.to_s
		else
			parent_corner.id.to_s
		end
	end

 %>">
	<%= render :partial => "/corners/corner_or_unit.html.erb", locals: {c: c, p: p, intro: intro, parent_corner: parent_corner} %>
</div>