<!-- partial variables: c -> corner, p -> permissions hash -->
<% if p["title"][:show_entity] || c.new_record? %>
<div data-corner-id="<%= c.id.to_s %>" class="row m-0-bottom" data-element-id="<%= c.id.to_s %>">

<div data-corner-id="<%= c.id.to_s %>" id="<%= c.id.to_s %>_type" data-is-a-corner= "<%= c.is_a_corner? ? 0 : 1 %>" style="display:none;" data-element-id="<%= c.id.to_s %>" data-title-id="<%= c.title_id.to_s %>" data-content-id="<%= c.content_id.to_s %>" data-image-id="<%= c.image_id.to_s %>" data-link-id="<%= c.link_id.to_s %>"></div>
    <div data-corner-id="<%= c.id.to_s %>" class="col l10 m10 s10 p-0-right" style="width:76.29%;">
      <div data-corner-id="<%= c.id.to_s %>" class="ctitle title <%= 
      
      if c.has_entity?("title")
      		"edited"
      else
      		"virgin"
      end

       %> m-10-bottom" 

      style="min-height:53px; padding-left:1px" 

      data-element-id="<%= c.id.to_s %>"
      
      id="<%= c.id.to_s %>_title" 
      
      placeholder="<%=
        if !c.has_entity?("title")
      		"Your Corner Is About"
      	end
      %>" 
      contenteditable="<%= p['title'][:change_or_add_entity] 
      %>" 
      data-placeholder="Your Corner is About"
      data-temp-value="<%=

          if c.has_entity?("title")
            c.title
          else
            ""
          end

       %>"
      ><%= 

      		if c.has_entity?("title")
      			c.title
      		end

       %><br>
      </div>
    </div>
    <% if p['title'][:change_or_add_entity] %>
    <div data-corner-id="<%= c.id.to_s %>" class="col l1 m1 s1">
      <i data-corner-id="<%= c.id.to_s %>" class="mdi-content-create fs-25 grey-text icon-tooltip" id="<%= c.id.to_s %>_example_icon" data-element-id="<%= c.id.to_s %>" data-edit-corner-icon = "<%= c.is_a_corner? %>" style="vertical-align:text-bottom;"></i>
    </div>
   
    <% end %>
</div>
<% end %>
