apply_modals_to_el();
<% if errors.empty? %>

	<% if changed_el = spam_attributes_changed?(corner,units) %>
		<%= render :partial => "corners/spam_changed.js.erb", locals: {changed_el: changed_el}%>
	<% else %>
		$("#about_example").html("<%= escape_javascript(render partial: '/corners/corner_creator', locals: {c: corner, units: units}) %>");
		
		<% if !corner.nil? %>
			
			var corner_id = "<%= corner.id.to_s %>";

			var corner_container = get_element_by_data_element_id(corner_id,"corner");

			var corner_about_holder = get_corner_about_holder();
			
			
			<% corner_permissions = get_show_permissions(corner,true) %>
			
			<% intr = true %>
			
		
			corner_about_holder.html('<%= escape_javascript(render :partial => "corners/corner_about.html.erb", locals:{c: corner, p: corner_permissions}) %>');
			
			corner_container.html('<%= escape_javascript(render :partial => "/corners/corner_or_unit.html.erb", locals: {c: corner, p: corner_permissions, intro: true, parent_corner: nil}) %> ');

			apply_modals_to_el(corner_id);
			//we are going to need another view that is used to offer options on 
			//the image
			//example:
			//so we need a javascript function that will check on open_modal
			//in the image_modal if this element has an image , and then will
			//by ajax call render a different partial for that.
		<% end %>
		<% if !units.empty? %>
			<% units.each do |unit| %>
				var unit_id = "<%= unit.id.to_s %>";
				var unit_container = get_element_by_data_element_id(unit_id,"unit");
				<% unit_permissions = get_show_permissions(unit,false) %>
				<% intr = false %>
				<% if unit.only_has_image? %>
					
					var image_partial_holder = $("#" + unit_id + "_image_holder");
					image_partial_holder.html('<%= escape_javascript(render :partial => "/corners/image_partial.html.erb", locals: {c: unit, corner_id: unit.corner_id.to_s}) %>');
				<% else %>
					
					unit_container.html('<%= escape_javascript(render :partial => "/corners/corner_or_unit.html.erb", locals: {c: unit, p: unit_permissions, intro: intr, parent_corner: corner.nil? ? nil : corner}) %>');
					apply_modals_to_el(unit_id);
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<% errors.keys.each do |el_id| %>
		<% errors[el_id].each do |attr,array_of_error_messages| %>
			//if a modal is open, then it makes sense to show the error on the modal
			var err = "<%= array_of_error_messages[0] %>";
			show_modal_error_message(err);
		<% end %>
	<% end %>
<% end %>
if(focused_el_id){
	$("#" + focused_el_id).focus();
	focused_el_id = null;
}
//close modal if open.
close_image_modal();
