<div data-corner-id="<%= corner_id.to_s %>" class="row p-10-left">
	<h4 data-corner-id="<%= corner_id.to_s %>" class="blue-grey-text fw-200 text-darken-2 m-20-bottom m-40-top"><i data-corner-id="<%= corner_id.to_s %>" class="mdi-communication-email fs-25 grey-text" style="vertical-align: bottom"></i>
	<span data-corner-id="<%= corner_id.to_s %>" class="m-5-left">Invite</span>
	</h4>
</div>
<!--
<div data-corner-id="<%= corner_id.to_s %>" class="row" id="enable_links_and_images">
	<h4 data-corner-id="<%= corner_id.to_s %>" class="blue-grey-text fw-200 text-darken-2 m-20-bottom m-40-top"><img src="/assets/menu37.png" height="23px" width="25px" class="m-10-right toggle"/><a href="#scrollspy_unit_0" class="blue-grey-text text-darken-2">Markdown options</a></h4>
</div>
-->
<div data-corner-id="<%= corner_id.to_s %>" class="row p-10-left">
	<h4 data-corner-id="<%= corner_id.to_s %>" class="blue-grey-text fw-200 text-darken-2 m-20-bottom m-40-top" id="publish" style="cursor:pointer;"><i data-corner-id="<%= corner_id.to_s %>" class="mdi-hardware-keyboard-tab fs-25 grey-text toggle" style="vertical-align: bottom"></i><span data-corner-id="<%= corner_id.to_s %>" class="m-10-left">
	Post
	</h4>
</div>

<div data-corner-id="<%= corner_id.to_s %>" class="row p-10-left">
	<h4 data-corner-id="<%= corner_id.to_s %>" class="blue-grey-text fw-200 text-darken-2 m-20-bottom m-40-top"><i data-corner-id="<%= corner_id.to_s %>" class="mdi-editor-insert-chart fs-25 grey-text" style="vertical-align: bottom"></i>
	<span data-corner-id="<%= corner_id.to_s %>" class="m-5-left">Views</span>
	</h4>
</div>

<div data-corner-id="<%= corner_id.to_s %>" class="row" style="display:none;" id="stats">
	<div data-corner-id="<%= corner_id.to_s %>" class="row m-50-bottom">
		<div data-corner-id="<%= corner_id.to_s %>" class="col l8 m8 s8 p-30-bottom" style="border:1px solid gainsboro;">	
			<canvas id="views_chart" height="170px" width="700px" ></canvas>
			<h5 class="teal-text fw-200 center m-10-top">Views on this corner</h5>
			<div data-corner-id="<%= corner_id.to_s %>" class="m-10-top center">
				<div data-corner-id="<%= corner_id.to_s %>" class="switch">
				    <label>
				      Private
				      <input type="checkbox">
				      <span data-corner-id="<%= corner_id.to_s %>" class="lever"></span>
				      Public
				    </label>
				</div>
			</div>
		</div>
	</div>
	<div data-corner-id="<%= corner_id.to_s %>" class="row m-20-top">
	<div data-corner-id="<%= corner_id.to_s %>" class="col l4 m4 s4 p-0-left">
		<div data-corner-id="<%= corner_id.to_s %>" class="p-30-bottom p-30-top center teal-text" style="border:1px solid gainsboro;">	
			<img src="/assets/coins.svg" />
			<h5 class="fw-200">Accept Donations</h5>
			<div data-corner-id="<%= corner_id.to_s %>" class="center">
			<span data-corner-id="<%= corner_id.to_s %>" class="grey-text text-darken-3" style="border-bottom:1px solid green;">Yes</span>
			<span data-corner-id="<%= corner_id.to_s %>" class="grey-text text-lighten-1 m-10-left">No</span>
			</div>
			
		</div>
	</div>
	<div data-corner-id="<%= corner_id.to_s %>" class="col l4 m4 s4">
		<div data-corner-id="<%= corner_id.to_s %>" class="p-30-bottom p-30-top center teal-text" style="border:1px solid gainsboro;">	
			<!--<img src="/assets/network12.png" />-->
			<i data-corner-id="<%= corner_id.to_s %>" class="mdi-action-supervisor-account"></i>
			<h5 
			<h5 class="fw-200">Accept Edits</h5>
			<div data-corner-id="<%= corner_id.to_s %>" class="center">
			<span data-corner-id="<%= corner_id.to_s %>" class="grey-text text-darken-3" style="border-bottom:1px solid green;">Yes</span>
			<span data-corner-id="<%= corner_id.to_s %>" class="grey-text text-lighten-1 m-10-left">No</span>
			</div>
			
		</div>
	</div>
	</div>
</div>

<div data-corner-id="<%= corner_id.to_s %>" class="invalid_monkey_patching">
	<a href="#scrollspy_about" id="corner_about_invalid"></a>
	<a href="#scrollspy_intro" id="corner_intro_invalid"></a>
</div>

