<% if !c.nil? && c.new_record? %>
		e.g Jogging
<% else %>
		<% 
		   ## if a corner is not there in the response, then check if we have units, and if we have units, then the element becomes the first unit, if we dont have units also, then the element remains nil, and if we do have a corner, then the element becomes the corner.
		   ##we need this element, to show the updated at last, and by.
		   
		   el = c.nil? ? (!units.nil? ? units[0] : nil) : c
		%>

		<% if !el.nil?
		   t = el.updated_at 
		   time_stub = epoch_to_readable(t.to_i)
		   updated_by_id = el.contributor_ids.last[0]
		   updater = User.find(BSON::ObjectId(updated_by_id))
		   updated_by_name = updater.name
		 %>
		 
			Updated by <%= link_to updated_by_name.to_s, profile_user_path(updated_by_id) %> <%= time_stub %>

		<% end %>
<% end %>
