<!--

title -> corner/unit.id.to_s_title
content -> corner/unit.id.to_s_content
image->not sent with create/update.
link->corner/unit.id.to_s_link
weather->unit.id.to_s_weather


-->
<div data-corner-id="<%= corner.id.to_s %>" class="section scrollspy m-5-bottom p-0-bottom p-0-top" id="scrollspy_about"></div>


  <% show_permissions = get_show_permissions(corner,"intro") %>
  <!-- debug showing permissions for intro -->
  
  <div data-corner-id="<%= corner.id.to_s %>" class="row m-0-bottom">
    <h3 data-corner-id="<%= corner.id.to_s %>" class="m-10-bottom col l7 m-0-top m-0-bottom p-0-bottom p-0-top">
    
    <%= render :partial => '/corners/corner_about_holder.html.erb', locals:{c: corner, p: show_permissions} %>
    
    <div data-corner-id="<%= corner.id.to_s %>" class="fs-18 grey-text text-lighten-2" style="line-height:1.1;" id="about_example">
     <%= render :partial => "/corners/corner_creator.html.erb", locals:{c: corner, created_time: corner.new_record? ? Time.now : corner.created_at, p: show_permissions} %>
    </div>
    
    </h3>
    <div data-corner-id="<%= corner.id.to_s %>" class="col l1">
        <i data-corner-id="<%= corner.id.to_s %>" class="title_warning mdi-alert-error red-text text-darken-1 icon-tooltip fs-30 p-5-top" style="display:none;" id="corner_title_invalid" title="Add A Title"></i>  
    </div>
  </div>

  <!--<i data-corner-id="<%= corner.id.to_s %>" class="mdi-action-check-circle green-text fs-30"></i>-->
  <!--<i data-corner-id="<%= corner.id.to_s %>" class="mdi-content-link blue-grey-text fs-30"></i>-->
  
  <!-- title ends -->
  <div data-corner-id="<%= corner.id.to_s %>" class="divider m-10-top m-10-bottom"></div>
  <!-- body -->
  

  
  <div data-corner-id="<%= corner.id.to_s %>" class="row p-10-left m-20-bottom">

  	<div data-corner-id="<%= corner.id.to_s %>" class="col l9 m12 s12" id="units_holder">
      
        <%= render :partial => "/corners/corner_or_unit_holder.html.erb", locals: {c: corner, p: show_permissions, intro: true, parent_corner: nil} %>
        
        <% if !unit_arr.empty? %>
          
          <% unit_arr.each do |u| %>
            
            <%= render :partial => "/corners/corner_or_unit_holder.html.erb", locals: {c: u, p: get_show_permissions(u,false), intro: false, parent_corner: corner} %>    
          <% end %>
        <% end %>
    </div>
    
  </div>

  



<div data-corner-id="<%= corner.id.to_s %>" class="row" id="add_new_section" style="cursor:pointer">
  <%= form_tag(new_unit_path, id:"add_new_section_form", method: "get", remote: true) do %>
    <%= hidden_field_tag "corner_id", corner.id.to_s, {:id => "add_new_section_corner_id_" + corner.id.to_s} %> 
    <div data-corner-id="<%= corner.id.to_s %>" class="col l1 m1 s1 p-10-top p-10-bottom center blue-grey-text text-darken-2 fw-300 fs-30 weather_holder m-10-left" style="border:1px solid gainsboro;" id="add-section">
      <i data-corner-id="<%= corner.id.to_s %>" class="mdi-av-playlist-add dull icon-tooltip" title="Add Section"></i>
    </div>
    <div data-corner-id="<%= corner.id.to_s %>" class="col l1 m1 s1 p-10-top p-10-bottom center blue-grey-text text-darken-2 fw-300 fs-30 weather_holder m-10-left publish" style="border:1px solid gainsboro;"  data-element-id = "<%= corner.id.to_s %>">
      <i data-corner-id="<%= corner.id.to_s %>" class="mdi-hardware-keyboard-tab dull icon-tooltip" data-element-id="<%= corner.id.to_s %>" title="Post"></i>
    </div>
  <% end %>
</div>

<div data-corner-id="<%= corner.id.to_s %>" class="divider"></div>
<div data-corner-id="<%= corner.id.to_s %>" style="display:none">

</div>
<%= render '/corners/upload_an_image_modal.html.erb' %>
<%= render '/corners/add_a_link_modal.html.erb' %>






