  <% corner_id = parent_corner.nil? ? (c.is_a_corner? ? c.id.to_s : c.corner_id.to_s) : parent_corner.id.to_s %>
  <div data-corner-id="<%= corner_id.to_s %>" id="<%=
   ##this is being done, because corner_id_type is already id of a div in the corner_about partial => for the corner title, so we cannot set it again here, or we would have two divs with the same id, so we give it an id of "corner_id_type_corner_content".
   if c.is_a_corner?
    c.id.to_s + "_type_corner_content"
   else
    c.id.to_s + "_type"
   end 


   %>" data-is-a-corner = "<%= c.is_a_corner? ? 0 : 1 %>" style="display:none;" data-element-id="<%= c.id.to_s %>" data-title-id="<%= c.title_id.to_s %>" data-content-id="<%= c.content_id.to_s %>" data-image-id="<%= c.image_id.to_s %>" data-link-id="<%= c.link_id.to_s %>">
    
  </div>
     <%
      if p['image'][:change_or_add_entity]
        padding_bottom = "p-10-bottom"
        fs = "fs-30"
        padding_top = "p-10-top"
      else
        padding_bottom = "p-3-bottom"    
        fs = ""   
        padding_top = "p-5-top"
      end
      
      ##alias title or content depending upon section or intro
      ##thenceafter can peacefully use either.

      tc = intro ? "content" : "title"

     %>


     

     <!-- form is used only for image submission -->
     <%= form_for c, namespace: c.id.to_s, :remote => true, :html => { :multipart => true },  data: { type: :script }   do |f| %>
      <% units_or_corner_tag = c.is_a_corner? ? "corner[" : "units[]" %>
      <% post_fix_tag = c.is_a_corner? ? "]" : "" %>
      <%= file_field_tag "#{units_or_corner_tag}image#{post_fix_tag}",{ style:"height:0px; width:0px;", class:"upload_image", tabIndex:"-1", "data-element-id" => c.id.to_s, id: c.id.to_s + "_" + c.class.name.downcase + "_image" }%>
      <%= hidden_field_tag "#{units_or_corner_tag}image_url#{post_fix_tag}",nil, {class:"upload_image_url", id: c.id.to_s + "_" + c.class.name.downcase + "_image_url"}%>
      <%= hidden_field_tag "#{units_or_corner_tag}version#{post_fix_tag}", c.version, {id: c.id.to_s + "_" + c.class.name.downcase + "_version"} %>
      <% if c.is_a_unit? %>
        <%= hidden_field_tag "#{units_or_corner_tag}corner_id", (c.corner_id.nil? ? parent_corner.id.to_s : c.corner_id.to_s), {id: c.id.to_s + "_" + c.class.name.downcase + "_corner_id"} %>
        <%= hidden_field_tag "#{units_or_corner_tag}_id",c.id.to_s %>
      <% else %>
        <%= hidden_field_tag "#{units_or_corner_tag}_id#{post_fix_tag}",c.id.to_s %>
      <% end %>
      <%= f.submit "submit",  id: "image_submit_form", style: "display:none;" %>
     <% end %>
     <!-- form ends -->
     
     


  <% if intro %>
     
      <!-- INTRO CAMERA ICON/ INTRO NEWS PAPER ICON AND SEND TO FRONT ICONS -->
      <div data-corner-id="<%= corner_id.to_s %>" class="col l1 m1 s1 <%= padding_bottom + " " + padding_top %> center blue-grey-text text-darken-2 fw-300" style="border:1px solid gainsboro; width:11.333%; position:relative;" data-element-id="<%= c.id.to_s %>">
        <% if p['image'][:change_or_add_entity] %>
           <div data-corner-id="<%= corner_id.to_s %>" class="<%= fs %> blue-grey-text text-darken-2">
           <i data-corner-id="<%= corner_id.to_s %>" id="<%= c.id.to_s %>_intro_icon" class="icon-tooltip mdi-image-photo-camera editable_images" href="#upload_an_image_modal" title="<%= p['image'][:change_or_add_entity] %>" data-element-id="<%= c.id.to_s %>"></i>
           </div>
           

        <% else %>
           <i data-corner-id="<%= corner_id.to_s %>"mg src="/assets/news6.svg" title="Front Page Material" class="icon-tooltip svg" height="60" width="45"/>
           <% if c.send_to_front == 0 %>
           <div data-corner-id="<%= corner_id.to_s %>" class="numberCircle" style="position:absolute; top:-10px; left:-10px;" ><i data-corner-id="<%= corner_id.to_s %>" class="mdi-content-add"></i></div>
           <% else %>
           <div data-corner-id="<%= corner_id.to_s %>" class="numberCircle" style="position:absolute; top:-10px; left:-10px;" ><%= c.send_to_front %></i></div>
           <% end %>
        <% end %>  
      </div>
  <% else %>
      <!--- UNIT WEATHER ICONS. -->
     
      <div data-corner-id="<%= corner_id.to_s %>" class="col l1 m1 s1 p-10-top p-10-bottom center blue-grey-text text-darken-2 fw-300 fs-25 <%= p["title"][:change_or_add_entity] ? "editable" : "locked" %> weather_holder icon-tooltip" style="border:1px solid gainsboro; width:11.33%; position:relative;" id="<%= c.id.to_s %>_weather_holder" data-icon-set="<%= c.has_an_icon? %>" data-element-id="<%= c.id.to_s %>" data-temp-value="<%= c.has_an_icon? ? c.icon : "" %>">
      
        <!-- if the icon is present , then other icons should be display none. -->

        <i data-corner-id="<%= corner_id.to_s %>" class="icon_warning mdi-alert-error grey-text text-lighten-1 icon-tooltip" style="position:absolute; top:-20px; left:-8px; display:none;" id="<%= c.id.to_s %>_icon_warning" title="Choose one" data-element-id="<%= c.id.to_s %>"></i>

        <div data-corner-id="<%= corner_id.to_s %>" class="fs-30 blue-grey-text text-darken-2 <%= sun_status(c) %>">
          <i data-corner-id="<%= corner_id.to_s %>" class="wi wi-day-sunny <%= sun_status(c) %> weather sun-tooltip" title="Bright" data-element-id="<%= c.id.to_s %>" id="<%= c.id.to_s %>_0" data-weather-id="0"></i>
        </div>

        <div data-corner-id="<%= corner_id.to_s %>" class="<%= rain_seperator_status(c) %>" style="height:20px;"></div>
        <div data-corner-id="<%= corner_id.to_s %>" class="fs-30 blue-grey-text text-darken-2 <%= rain_status(c) %>">
          <i data-corner-id="<%= corner_id.to_s %>" class="wi wi-day-rain  weather rain-tooltip <%= rain_status(c) %>" title="Rainy" data-element-id="<%= c.id.to_s %>" id="<%= c.id.to_s %>_1" data-weather-id="1"></i>
        </div>

        <div data-corner-id="<%= corner_id.to_s %>" class="<%= storm_seperator_status(c) %>" style="height:20px;"></div>
        <div data-corner-id="<%= corner_id.to_s %>" class="<%= storm_status(c) %> fs-30 blue-grey-text text-darken-2">
          <i data-corner-id="<%= corner_id.to_s %>" class="wi wi-lightning <%= storm_status(c) %> weather storm-tooltip" title="Stormy" data-element-id="<%= c.id.to_s %>" id="<%= c.id.to_s %>_2" data-weather-id="2"></i>
        </div>

      </div>
  <% end %>

  <div data-corner-id="<%= corner_id.to_s %>" class="col l9 m9 s9 p-20-top <%= c.is_a_corner? ? "p-20-bottom" : "p-18-bottom" %>  m-10-left  center card" data-element-id="<%= c.id.to_s %>" style="border:1px solid gainsboro; min-height:67px;position:relative; margin:0rem 1rem !important;">
      
      <% if p[:show_approve] %>
          <i data-corner-id="<%= corner_id.to_s %>" class="approve mdi-action-check-circle grey-text text-lighten-2 fs-30 icon-tooltip" id="<%= c.id.to_s %>_approve" data-element-id="<%= c.id.to_s %>" style="position:absolute; top:-25px; right:-15px;" title="This is ok"></i>
      <% end %>
      <!-- show the title warning at the top left of the box -->
      <i data-corner-id="<%= corner_id.to_s %>" class="icon_warning mdi-alert-error grey-text text-lighten-1 icon-tooltip fs-25" style="position:absolute; top:-20px; left:-10px; display:none;" id="<%= c.id.to_s %>_title_warning" title="You need to enter a title" data-element-id="<%= c.id.to_s %>"></i>
      <!-- end title warning -->
      <!-- render the image holder, and we only show the image if it is approved -->
      <%= render :partial => "/corners/image_partial_holder.html.erb", locals:{c: c, p: p, corner_id: corner_id} %>
      
      
      <!-- contenteditable box 
      
      class : "content" or "title"(depends on unit or corner.)

      -->
      <% if p[tc][:show_entity] || c.new_record? || p[tc][:change_or_add_entity] %>
      <div data-corner-id="<%= corner_id.to_s %>" class="utitle section p-0-bottom p-0-top p-10-left p-10-right <%=
        if intro
            if c.has_entity?(tc)
                " intro content edited"
            else
                " intro content virgin"
            end
        else
            if c.has_entity?(tc)
                " title edited"
            else
                " title virgin"
            end
        end      
       %>" id="<%= intro ? "#{c.id.to_s}_content" : "#{c.id.to_s}_title"

       %>" placeholder="<%=
        if !c.has_entity?(tc)

          if intro 
            "Add An Intro"
          else
            "Add A Section Title"
          end   

        end
      %>" contenteditable="<%= p[tc][:change_or_add_entity] ? true : p[tc][:change_or_add_entity] 

      %>" data-placeholder="<%= 
          if intro 
            "Add An Intro"
          else
            "Add A Section Title"
          end 

       %>" data-temp-value="<%= 

          if c.has_entity?(tc)
            if intro
              c.content
            else
              c.title
            end
          else
              ""
          end

       %>" data-element-id="<%=

          c.id.to_s

       %>"

       ><%= 

          if c.has_entity?(tc)
            if intro
              c.content
            else
              c.title
            end
          end

       %><br>
      </div>
      <% end %>


      <!-- now need to build for spam, link, and image if required. -->
      
      <% if p["link"][:show_entity]%>
          <%= render :partial => "/corners/link_partial.html.erb", locals:{c: c, corner_id: corner_id} %>
      <% end %>
     

     <!-- options bar -->

     <!-- check if spam is enabled on any entity || can_add_or_change_link? or can_add_or_change_image? only in case of sections but not images. -->
     <% if p[:show_options_bar] %>
      <%= render :partial => "/corners/options_bar.html.erb", locals:{p: p, c: c, corner_id: corner_id} %>
      <!-- the dropdown to hide and show the options bar -->
      <i data-corner-id="<%= corner_id.to_s %>" class="mdi-hardware-keyboard-arrow-down grey-text text-lighten-2 options_bar_dropdown" style="position:absolute; right:2%; top:35%;" data-element-id = "<%= c.id.to_s %>" id="<%= c.id.to_s %>_options_bar_dropdown"></i>  
    <% end %>
    
    <%= render :partial => "/corners/card_reveal.html.erb", locals:{p: p, c: c, corner_id: corner_id} %>

  </div>
