<!-- _edit_image.html.erb -->
<div id="edit_image_modal_content">
 <% if el %>
 	<div class="row">
 		<div class="section p-0-top">
	        <div class="row center">
	          <div class="col l6 offset-l3 m8 offset-m2 s12">
	            <h3 class="teal-text fw-200 m-10-bottom center">Crop or Remove Image</h3>
	          </div>
	        </div>
	    </div>
 	</div>
	<div class="row">
		<div class="col l12 s12 m12 center">
			<%= form_for el, remote: true do |f| %>
			  <%= f.cropbox :image, {:width => 200 ,:height => 200, "data-corner-id" => el.get_corner_id, "data-element-id" => el.id.to_s} %>
			<% end %>
			<div id="crop_button" class="waves-effect waves-light btn" style="margin-top:20px;" data-corner-id="<%= el.get_corner_id %>">Crop</div>
			<div id="delete_image_<%= el.id.to_s %>" data-corner-id="<%= el.get_corner_id %>" data-element-id="<%= el.id.to_s %>" data-type-id="<%= el.image_id.to_s %>" class="red waves-effect waves-light btn delete_image" style="margin-top:20px;">Delete Image</div>
		</div>
	</div>
<% end %>
</div>
