//hide the default content.
$("#login_content_upload_an_image").hide();
$("#login_header_upload_an_image").append("<%= escape_javascript(render :partial => 'corners/edit_image.html.erb', locals:{el: el}) %>");
//append this to the default content holder.
init_papercrop();