<img data-corner-id="<%= corner_id.to_s %>" src="<%= c.image.url(:cropped) %>" class="image" id="<%= c.id.to_s %>_image" data-element-id="<%= c.id.to_s %>" data-image-id="<%= c.image_id.to_s %>" /> 
<%= render :partial => "/corners/approve_disapprove.html.erb", locals:{c: c, type:"image", corner_id: corner_id.to_s} %>
