<div data-corner-id="<%= corner_id.to_s %>" class="image_holder" id="<%= c.id.to_s %>_image_holder" data-element-id="<%= c.id.to_s %>">
	<% if p["image"][:show_entity] %>
     <%= render :partial => "/corners/image_partial.html.erb", locals:{c: c, corner_id: corner_id} %>
    <% end %>
</div>