<!-- c : element_type -->
<div data-corner-id="<%= corner_id.to_s %>" class="row m-10-top m-0-bottom link">
	<div data-corner-id="<%= corner_id.to_s %>" class="col l6 m6 offset-m3 offset-l3 grey-text text-lighten-1 fw-500 fs-14 cursor-pointer">
		<% if c.link_title.blank? %>
			<%= c.link %>
		<% else %>
			<%= c.link_title %>
		<% end %>
	</div>
</div>
<div>
<%= render :partial => "/corners/approve_disapprove.html.erb", locals:{c: c, type:"link", corner_id: corner_id.to_s} %>
</div>