<!-- c : corner or unit , p : permissions, type: link/image/content/title -->
<div data-corner-id="<%= corner_id.to_s %>" class="row m-0-bottom options_holder m-0-top" id="<%= c.id.to_s %>_options_holder">

	<div data-corner-id="<%= corner_id.to_s %>" class="col l6 offset-l3 m6 offset-m3 s6 offset-s3 center">

		<% if p[:show_spam_button] %>
			<%= render :partial => "corners/spam_icon.html.erb" , locals: {corner_id: corner_id, c: c, type: nil, location: "options_bar"}%>
		<% end %>

		<% if p["link"][:change_or_add_entity] %>
			<i data-corner-id="<%= corner_id.to_s %>" class="mdi-content-link<%=
			 if c.has_entity?("link")
			 	" amber-text"
			 else
			 	" grey-text text-lighten-2"
			 end
			 %> fs-15 options editable_links" title="Add Link" id="<%= c.id.to_s %>_add_link" data-element-id="<%= c.id.to_s %>" href="#add_a_link_modal" data-link-title-init-value="<%= c.link_title %>" data-link-init-value="<%= c.link %>" data-link="" data-link-title="" >
			 	
			 </i>
		<% end %>

		<% if c.is_a_unit?  &&  p["image"][:change_or_add_entity] %>
			<i data-corner-id="<%= corner_id.to_s %>" class="mdi-image-photo-camera grey-text text-lighten-2 fs-15 options editable_images" data-element-id="<%= c.id.to_s %>" href="#upload_an_image_modal" id="<%= c.id.to_s %>_add_image"></i>
		<% end %>

	</div>
	
</div>


