<!-- first check  -->
<%
=begin
HOW THIS WORKS:

# LOCATION ->
	# CAN EITHER BE OPTIONS_BAR OR SPAM_TABLE
	# OPTIONS_BAR:
		# the options bar is for the spam icon which is seen alongside the 	image and link icons.
		# here we first get the total spam count (function is in corners_helper)
		# if the count is greater than zero, then the spam icon class is set to red.
		# the title_text variable here is passed into the spam_count partial.
	# SPAM TABLE:
		# this refers to the spam icons seen next to each attribute inside the card_reveal spam table.
		# here the spam icon just becomes red if you mark it as spam and becomes grey if you unmark it.
		# so here first we check if there is a current_user
		# then we use the funciton attribute_marked_for_spam_contains_curr_usr(type,current_user,c)
		# this function is found in corners_helper.rb
		# this function just checks if the current user has marked this attribute as spam or not.
		# if yes, then it sets the the icon color to red, and it sets the title_text of the icon to, unmark the thing as spam.
		# if no, and there is a current_user, then we say , mark this as spam.
		# if no current_user, then we say sign in to mark this as spam.
		# important to remember here is that the title_text set here is for the icon.
		#while the title_text set in the options_bar is to show the title over the span_element that contains the number of spam_warnings and not the spam_icon, which always has a title of "Add spam." 
=end
%>
<% icon_class = "grey-text text-darken-1" %>
<% if location == "options_bar" %>
	<% if count = c.get_total_spam_count
		if count > 0
	   		icon_class = "red-text text-darken-1"
	   		title_text = count.to_s + " spam warnings"
	   	end
	   end
	%>
	<i data-corner-id="<%= corner_id.to_s %>" class="mdi-alert-error <%= icon_class %> fs-15 options spam_toggle activator" title="Add Spam" id="<%= c.id.to_s %>_add_spam" data-element-id="<%= c.id.to_s %>" style="position:relative;">
	<%= render :partial => "/corners/spam_count_for_option_in_options_bar.html.erb", locals:{c: c, type:nil, corner_id: corner_id, c: c, location: location, count: count, title_text: title_text} %>
	</i>	
<% elsif location == "spam_table" %>
	<% if current_user && c.attribute_marked_for_spam_contains_curr_usr(type,current_user)
		icon_class = "red-text text-darken-1"
		title_text = "Unmark as spam"
	elsif current_user
		title_text = "Mark " + type + " as inappropriate "
	else
		title_text = "Sign in to mark this inappropriate"
	end
	%>
	<% if !c.has_max_permissible_spam(type) || (c.has_max_permissible_spam(type) &&  c.attribute_marked_for_spam_contains_curr_usr(type,current_user)) %>
		<i data-corner-id="<%= corner_id %>" class="mdi-alert-error <%= icon_class %> fs-15 options spam_marker" title="<%= title_text %>" data-element-id="<%= c.id.to_s %>" data-spam-type="<%= type %>" data-type-id="<%= get_attribute_id(c,type) %>" style="position:relative;" id="<%= c.id.to_s %>_spam_icon_<%= type %>">
	<% end %>
	</i>
<% end %>