<% if location = "options_bar" %>
		<span data-corner-id="<% corner_id.to_s %>" class="spam_count fs-12 red-text text-darken-2" id="<%= c.id.to_s %>_spam_count_<%= type %>" data-element-id="<%= c.id.to_s %>" title="<%= title_text %>"><%= 
		if count && count > 0
			count
		end
		 %></span>
<% end %>