spam_response = JSON.parse("<%= escape_javascript(spam_details(changed_el,current_user)) %>");
users_marked_as_spam = "<%= escape_javascript(n_users_marked_this_as_spam(changed_el,current_user,changed_el.has_spam(changed_el.get_spammed_attribute),changed_el.get_spammed_attribute)) %>";

var els = get_el_by_class_and_data_el_id("users_list_activator","<%= changed_el.id.to_s %>");
var k = els.filter(function(index){
	return $(this).attr("data-attribute-type") == "<%= changed_el.get_spammed_attribute %>";
})[0];
console.log("the selcetd element iS:");
console.log(k);
console.log("the text is:" + users_marked_as_spam);
$(k).text(users_marked_as_spam);

for (var type in spam_response){
	for(var el_id in spam_response[type]){
		if(type == "total"){
			if(spam_response[type][el_id] == 0){
				$("#" + el_id).text("").addClass("grey-text text-darken-1").removeClass("red-text text-darken-1");
				$("#" + el_id.substr(0,el_id.indexOf('_')) + "_add_spam").addClass("grey-text text-darken-1").removeClass("red-text text-darken-1");
			}
			else{
				$("#" + el_id).text(spam_response[type][el_id]).addClass("red-text text-darken-1").removeClass("grey-text text-darken-1").attr("title",spam_response[type][el_id] + " spam warnings ");	
				$("#" + el_id.substr(0,el_id.indexOf('_')) + "_add_spam").removeClass("grey-text text-darken-1").addClass("red-text text-darken-1");
			}
		}
		else{
			if(spam_response[type][el_id] == false){
				$("#" + el_id).text("").addClass("grey-text text-darken-1").removeClass("red-text text-darken-1").attr("title","Mark as inappropriate");
			}
			else{
				$("#" + el_id).addClass("red-text text-darken-1").removeClass("grey-text text-darken-1").attr("title","Unmark as spam");	
			}	
		}
		$("#" + el_id).removeClass("dirty");
	}
}