<div class="row m-30-top">
	<div class="col l6 offset-l3 m6 offset-m3 s6 offset-s3">
		<input type="url" id="image_url" placeholder="Paste A Url" />
	</div>
	<div class="l1 p-10-top" id="image_url_submit" style="display:none;">
		<i class="mdi-action-trending-neutral teal-text text-darken-2 fs-25 icon-tooltip"  style="cursor:pointer;" title="Submit"></i>
	</div>
</div>
<div class="row">
	<div id="image-url-error-message" class="col l6 offset-l3 m6 offset-m3 s6 offset-s3 center m-0-top fs-12 red-text text-darken-2 fw-500" style="display:none;"><i class="mdi-alert-error grey-text text-lighten-1"></i>That url is invalid</div>
</div>
<div class="row center m-40-top fs-22 fw-200 teal-text">
	OR
</div>
<div class="row m-0-bottom" style="position:relative;">
	<div class="col l6 offset-l3 m6 offset-m3 s6 offset-s3 center">
		<i class="mdi-hardware-computer fs-100" style="margin-top:-20px; cursor:pointer;" id="upload_image_from_pc" data-opener-id></i>
	</div>
	<div class="col l6"></div>
	<div class="fw-200 fs-22" style="position:absolute; bottom:2%; left:31.5%;">
	Choose a file from your PC.
	</div>
</div>