<div id="upload_an_image_modal" class="modal">
	<%= render :partial => "/modals/base_modal/base", :locals => {:modal_content => "/corners/upload_an_image_modal_content.html.erb", :modal_footer => nil, :modal_title => "", :namespace => "_upload_an_image"} %>
</div>
