<%= form_for @corner do |f| %>
  about: <%= f.text_field :about %>

  <%= f.fields_for :units  do |builder| %>
         <%= builder.label :title %>
         <%= builder.text_field :title %>
  <% end %>
 
  <%= f.submit "Submit" %>
<% end %>