/**
<% q = escape_javascript(render partial: 'corners/validation_errors.html.erb', locals: { errors: errors } ).gsub('&quot;', "'") 
   c_id = corner.id.to_s;
   units_ids = units.map{|c| c = c.id.to_s}
%>
$("#errors").html("<%= q %>");
$("#response").append("<%= c_id.to_s %>");
$("#response").append("<%= units_ids.to_s %>");

$("#upload_an_image_modal_preloader").hide();
//now dismiss the modal if it is open.

if($('#upload_an_image_modal:visible').length != 0)
{
  //now depends if the image could be uploaded or not?
  
}
**/