<div class="row p-20-left p-20-right p-20-top p-40-bottom p-20-top center teal-text fw-300 fs-18 m-30-top" style="border:1px solid gainsboro; display:none;"id="info_box">

	<div id="failed_response" style="display:none;" class="red-text">
		<i class="red-text mdi-action-thumb-down fs-100"></i>
		<div>
		Failed to sign you in, please try again, or <u><a href="/users/sign_up">click here</a></u> to set up a new WordJelly Account.
	</div>


</div>

