<div id="sign_in_failed_modal" class="modal bottom-sheet">
	<div class="modal-content">
	  <h4 class="pink-text text-darken-2 m-30-bottom">Whoops! Your Sign-in hit a bump
	   <i class="mdi-content-clear right cursor-pointer" id="close_modal"></i>
	  </h4>
	  <p id="modal_failure_message" class="blue-grey-text fw-500"><%= flash[:failure_message] %></p>
	</div>
	<div id="modal_email_incorrect">
		<div class="modal-footer">
		  <a href="/users/sign_up" class=" modal-action modal-close waves-effect waves-green btn-flat">Create A New Account</a>
		  <a href="#!" class=" modal-action modal-close waves-effect waves-blue-grey btn-flat">Try Again</a>
		</div>
	</div>
	<div id="modal_password_incorrect">
		<div class="modal-footer">
		  <%= link_to "Forgot your password", new_password_path(resource_name), class: "modal-action modal-close waves-effect waves-green btn-flat" %>
		   <a href="#!" class=" modal-action modal-close waves-effect waves-blue-grey btn-flat">Try Again</a>
		</div>
	</div>
</div>