<% if flash[:failure_message]=~/email/ %>
$("#modal_password_incorrect").hide();
$("#modal_email_incorrect").show();
<% else %>
$("#modal_email_incorrect").hide();
$("#modal_password_incorrect").show();
<% end %>
$("#modal_failure_message").text("<%= escape_javascript(raw flash[:failure_message])%>");
$("#sign_in_failed_modal").openModal();
