<div class="row m-20-bottom corner_unit" id="corner_unit_<%= unit_counter.to_s %>_holder" data-unit="<%= unit_counter.to_s %>">
			<div class="section scrollspy" id="scrollspy_unit_<%= unit_counter.to_s %>"></div>
			<div class="col l1 m1 s1 p-10-top p-10-bottom center blue-grey-text text-darken-2 fw-300 fs-25 weather_holder icon-tooltip" style="border:1px solid gainsboro; width:11.33%; position:relative;" id="section_weather_<%= unit_counter.to_s %>">
				 <%= builder.hidden_field :icon %>
				<i class="icon_warning mdi-alert-error grey-text text-lighten-1 icon-tooltip" style="position:absolute; top:-20px; left:-8px; display:none;" id="icon_invalid_<%= unit_counter.to_s %>" title="Choose one"></i>
				<div class="fs-30 blue-grey-text text-darken-2">
					<i class="wi wi-day-sunny dull weather sun-tooltip" id="sun_<%= unit_counter.to_s %>" title="Bright"></i>
					
				</div>
				<div style="height:20px;"></div>
				<div class="fs-30 blue-grey-text text-darken-2">
					<i class="wi wi-day-rain dull weather rain-tooltip" id="rain_<%= unit_counter.to_s %>" title="Rainy"></i>
					
				</div>
				<div style="height:20px;"></div>
				<div class="fs-30 blue-grey-text text-darken-2">
					<i class="wi wi-lightning dull weather storm-tooltip" title="Stormy" id="lightning_<%= unit_counter.to_s %>"></i>
				</div>
			</div>
			
			<div class="col l9 m9 s9 p-20-top p-18-bottom p-30-left p-30-right center m-10-left section_holder" style="border:1px solid gainsboro; position:relative" id="section_title_holder_<%= unit_counter.to_s %>">
				<%= builder.hidden_field :title %>
				<i class="title_warning mdi-alert-error grey-text text-lighten-1 icon-tooltip" style="position:absolute; top:-20px; left:-8px; display:none;" id="title_invalid_<%= unit_counter.to_s %>" title="You missed a title"></i>
				<div class="fs-18 grey-text text-lighten-1 fw-300 virgin wsection" id="section_title_<%= unit_counter.to_s %>" contenteditable="true">Add Section Title</div>
				<i class="mdi-hardware-keyboard-arrow-down grey-text text-lighten-2" style="position:absolute; right:2%; top:35%;" id="section_link_dropdown"></i>
				


				<div class="row m-0-bottom options_holder m-5-top" style="display:none;">
				
					<div class="col l6 offset-l3 m6 offset-m3 s6 offset-s3 center">
						<i class="mdi-navigation-cancel grey-text text-lighten-2 fs-15 options" data-hovercolor="red-text" data-defaultcolor="grey-text"></i>

						<!-- if the link exists, then it is a locked link, if not then it is a editable link. -->
						<% if corner.units[unit_counter.to_i].link.nil? || corner.units[unit_counter.to_i].link.empty? %>

							<i class="editable_links mdi-content-link grey-text text-lighten-2 fs-15 options" data-hovercolor="teal-text" data-defaultcolor="grey-text" title="Add a link" href="#add_a_link_modal" data-link="" data-link-title="" id="section_link_<%= unit_counter.to_s %>"></i>
							<%= builder.hidden_field :link %>

						<% else %>
							<% 
							link_url = corner.units[unit_counter].link

							link_title = corner.units[unit_counter].link_title.empty? ? link_url : corner.units[unit_counter].link_title

							%>

							<a href="<%= link_url %>"><i class="locked_links mdi-content-link amber-text text-lighten-2 fs-15 options cursor-pointer" data-hovercolor="amber-text" data-defaultcolor="amber-text" title="<%= link_title %>" data-link="<%= link_url %>" id="section_link_<%= unit_counter.to_s %>"></i></a>
							<%= builder.hidden_field :link %>							

						<% end %>

						

						<% if corner.units[unit_counter.to_i].uimage.url.nil? || corner.units[unit_counter.to_i].uimage.url == "/uimages/original/missing.png" %>
							<i class="editable_images mdi-image-photo-camera grey-text text-lighten-2 fs-15 options"  data-hovercolor="blue-grey-text" data-defaultcolor="grey-text" id="section_image_<%= unit_counter.to_s %>" href="#upload_an_image_modal"></i>
							<%= builder.file_field :uimage, style:"height:0px; width:0px;", class:"uimage"%>
							<%= builder.hidden_field :uimage_url, class:"uimage_url" %>
						<% else %>
							<!-- display it -->
							<%= corner.units[unit_counter.to_i].uimage.url.to_s %>
						<% end %>


					</div>
					
				
				</div>
				<!--
				<div class="row" style="display:none" id="show_link_<%= unit_counter.to_s %>">
						<div class="col l6 offset-l3 m6 offset-m3 s6 offset-s3 center">
							<div class="teal-text text-lighten-2 fs-15 fw-200" id="show_link_div_<%= unit_counter.to_s %>">
							</div>
						</div>
				</div>
				-->
				
				<div id="section_body_and_image_holder_<%= unit_counter.to_s %>">
			
						

				</div>
			</div>
			<div class="col l1 m1 s1 p-12-top" id="section_invalid_<%= unit_counter.to_s %>" style="display:none;" title="Oops! you forgot to enter a section title">
				<i class="mdi-alert-error red-text text-darken-2 fs-30"></i>
			</div>
</div>
<%= render '/corners/add_a_link_modal.html.erb' %>