<div id="errors">
  
  
</div>
<div class="section scrollspy m-5-bottom p-0-bottom p-0-top" id="scrollspy_about"></div>
<%= form_for @corner, :remote => true, :authenticity_token => true do |f| %>
  <div class="row m-0-bottom">
  <h3 class="m-10-bottom col l7 m-0-top m-0-bottom p-0-bottom p-0-top">
  	<%= f.hidden_field :about %>
  	<div class="grey-text text-lighten-1 fw-200 m-10-bottom virgin" style="min-height:53px;" contenteditable="true" id="about">Your Corner is About
        <i class="mdi-content-create fs-25 grey-text m-10-left"></i>
    </div>

  	<div class="fs-18 grey-text text-lighten-2 m-10-top" style="line-height:1.1" id="about_example" data-username="<%= 

  		if current_user
  			current_user.name
  		end

  	 %>">e.g : Jogging
     </div>
  </h3>
    <div class="col l1">
      <i class="title_warning mdi-alert-error red-text text-darken-1 icon-tooltip fs-30 p-5-top" style="display:none;" id="corner_title_invalid" title="Add A Title"></i>  
    </div>
  </div>

  <!--<i class="mdi-action-check-circle green-text fs-30"></i>-->
  <!--<i class="mdi-content-link blue-grey-text fs-30"></i>-->
  
  <!-- title ends -->
  <div class="divider m-10-top m-10-bottom"></div>
  <!-- body -->
  <%= f.file_field :image, style:"height:0px; width:0px;" %>
  <div class="row p-10-left m-20-bottom">

  	<div class="col l9">
      <div class="row">
        <div class="col l1 m1 s1 p-10-top p-10-bottom center blue-grey-text text-darken-2 fw-300 fs-25" style="border:1px solid gainsboro; width:11.333%;">
           
            <!-- cautions: replace with : mdi-action-input -->
            <div class="fs-30 blue-grey-text text-darken-2">
              <i id="intro_icon" class="mdi-image-photo-camera editable_images" href="#upload_an_image_modal"></i>
              <%= f.hidden_field :image_url %>
            </div>

        </div>

        <div class="col l9 m9 s9 p-20-top p-20-bottom p-40-left p-40-right center m-10-left" style="border:1px solid gainsboro;">
            <%= f.hidden_field :intro %>
            <div class="fs-18 grey-text text-lighten-1 fw-300 virgin wsection"  id="intro" contenteditable="true">Add Intro</div>
          
          
        </div>
      </div>
      <div id="units_holder">

        <% unit_counter = 0 %>

        <%= f.fields_for :units  do |builder| %>
               
               
              <%= render :partial => "/corners/corner_section.html.erb", locals: {unit_counter: unit_counter, builder: builder, corner: @corner} %>

        <%

         unit_counter+=1

          end  

        %>
        
      </div>
    </div>
    
    


	
	
  </div>

  
  
  <%= f.hidden_field :locked %>
  <%= f.hidden_field :accept_donations %>
  <%= f.hidden_field :views_type %>
  
  
  


<div style="height:20px"></div>
<div class="row">
  <div class="col l1 m1 s1 p-10-top p-10-bottom center blue-grey-text text-darken-2 fw-300 fs-30 weather_holder m-10-left" style="border:1px solid gainsboro;" id="add-section">
  <i class="mdi-av-playlist-add dull icon-tooltip" title="Add Section"></i>
  </div>
</div>

<div class="divider"></div>

<%= render :partial => '/corners/corner_invites_publish_add_remove_stats.html.erb', locals:{f: f} %>
<%= render '/corners/upload_an_image_modal.html.erb' %>




<% end %>