var q = "<%= escape_javascript(response) %>"
$("#info_box").show();
if(q === "success"){
	$("#failed_response").hide();
	$("#success_response").show();
}
else if(q === "failed"){
	$("#success_response").hide();
	$("#failed_response").show();
	//reset the form.
	//tell him to retry
}