<div class="row m-40-bottom">
  <div class="col l6 offset-l3 m6 s12 center">
    <h3 class="teal-text  fw-200 ">Forgot Your Password</h3>
    <div class="blue-grey-text text-darken-3 fw-200 fs-24 m-0-top">We'll send a message to your registered e-mail account. Follow the instructions there to change your password.</div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), remote: true, class:"m-50-top") do |f| %>
 


<div class="row">
	<div class="col l6 offset-l3 m12 s12 center">
		<div class="input-field ">
			
			<input id="user_email" type="email" name="user[email]" required="true" class="virgin" autofocus="autofocus"></input>
			<label for="user_email" style="text-align:left;">Enter your E-mail here</label>
	         
		</div>
	</div>
	
</div>
<div class="row center m-70-bottom">
	<div class="m-50-top">
		<button type="submit" value="Finish" class="btn waves-effect waves-light blue-grey darken-3">Send Password Change Instructions</button>
	</div>
</div>

<% end %> 


<div class="row p-20-left p-20-right p-20-top p-40-bottom p-20-top center teal-text fw-300 fs-18 m-30-top" style="border:1px solid gainsboro; display:none;"id="info_box">

	<div id="success_response" style="display:none;">
		<i class="teal-text mdi-action-thumb-up fs-100"></i>
		<div>
		The e-mail with your password change instructions was succesfully sent.<br>
		Please check your spam folder if you don't receive it.
		</div>
	</div>

	<div id="failed_response" style="display:none;" class="red-text">
		<i class="red-text mdi-action-thumb-down fs-100"></i>
		<div>
		Failed to send the email, please try again after a while.
	</div>


</div>

