<% if @unit.errors.empty? %>
	<% 
	show_permissions = get_show_permissions(@unit,false) 
	intro = false
	%>
	var corner_id = "<%= @unit.id.to_s %>";
	$("#units_holder").append("<%= escape_javascript(render partial: 'corners/corner_or_unit_holder.html.erb', locals: { c: @unit, p: show_permissions, intro: intro, parent_corner: nil} ) %>"); 
	apply_modals(corner_id + "_add_image","image");
	apply_modals(corner_id + "_add_link","link");
	initialize_tooltips();
<% else %>
	var error = "<%= @unit.errors.full_messages[0] %>";
	show_modal_error_message(error);
<% end %>