<div class="row">
  <div class="col l6 m6 s12 offset-l3 offset-m3 center teal-text text-darken-2 fs-12">
    <div id="show_sign_up" class="cursor-pointer">Don't have an Account? Sign Up For Free</div>
    <div id="forgot_password" class="cursor-pointer">Forgot Your Password?</div>
    <div id="resend_confirmation_email" class="cursor-pointer">Resend Confirmation Email</div>
    
  </div>
</div>