<div class="m-50-top row m-0-left m-0-right m-0-bottom" id="oauth_and_submit">
  
  <div class="col l6 m6 s6 left p-0-left p-0-right" id="oauth_icons">
    <a href="/users/auth/facebook"><img src="/assets/facebook.svg" height="60" width="60"  class="oauth_icon"/></a>
    <a href="/users/auth/google_oauth2"><img src="/assets/google_plus.svg" height="60" width="60"   class="oauth_icon m-10-left"/></a>
  </div>
  
  <div class="col l6 m6 s6 p-0-left p-0-right" id="submit">
    
      <i class="mdi-hardware-keyboard-tab grey-text right cursor-pointer" style="height:60px; width:60px; border:1px solid #9e9e9e; border-radius:5px; font-size:1.8em; padding-top:0.75rem; text-align:center;" id="submit_icon"></i>
    
  </div>
</div>