<div id="sign_up_inputs" style="display:none;">
  <div class="input-field m-50-top">
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation">
    <label for="user_password_confirmation">Password confirmation</label>
  </div>
  <div style="text-align:center; padding-top:3rem;" id="recaptcha_tags">
    
  </div>
</div>