<h5 class="teal-text text-darken-3 fw-200">Hi <%= name %> We sent an email with a confirmation link to <span class="teal-text text-darken-4"><%= email %></span></h4>
<h5 class="teal-text text-darken-3 fw-200">Please click on the link to activate your account.</h4>