/*
*= require common-styles
*= require alphabet
*= require weather-icons
*= require overrides
*= require tooltipster
*= require icon-tooltip-template
*= require sun-tooltip-template
*= require rain-tooltip-template
*= require storm-tooltip-template
*= require add-section-tooltip-template
*= require trumbowyg
*= require modals/sign_in
*= require_tree
*= require_self
*/
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';




.filler{
	height:350px;
}



.modal { max-height: 90% !important ;}
