.height-100-percent{
	height:100% !important;
}

.width-50-percent{
	width:50% !important;
}

//visibility

.visible_element{
	visibility:visible !important;
}

.hidden_element{
	visibility:hidden !important;
}

.display_none{
	display:none;
}

//cursor options

.cursor-pointer{
	cursor : pointer;
}
.cursor-pointer:hover{
	text-decoration:underline;
}

//font-sizes

.fs-8{
	font-size:8px !important;
}

.fs-10{
	font-size:10px !important;
}

.fs-12{
	font-size:12px !important;
}

.fs-13{
	font-size:13px !important;
}

.fs-14{
	font-size:14px !important;
}

.fs-15{
	font-size:15px !important;
}

.fs-16{
	font-size:16px !important;
}

.fs-18{
	font-size:18px !important;
}

.fs-19{
	font-size:19px !important;
}

.fs-20{
	font-size:20px !important;
}

.fs-21{
	font-size:21px !important;
}

.fs-22{
	font-size:22px !important;
}

.fs-23{
	font-size:23px !important;
}

.fs-25{
	font-size:25px !important;
}


.fs-30{
	font-size:30px !important;
}

.fs-35{
	font-size:35px !important;
}

.fs-40{
	font-size:40px !important;
}


.fs-30{
	font-size:30px !important;
}

.fs-40{
	font-size:40px !important;
}

.fs-50{
	font-size:50px !important;
}

.fs-60{
	font-size:60px !important;
}

.fs-100{
	font-size:100px !important;
}

.fs-150{
	font-size:150px !important;
}

.fs-200{
	font-size:200px !important;
}

.fs-250{
	font-size:250px !important;
}


//font weigths
.fw-100{
	font-weight:100 !important;
}

.fw-200{
	font-weight:200 !important;
}

.fw-300{
	font-weight:300 !important;
}

.fw-400{
	font-weight:400 !important;
}

.fw-500{
	font-weight:500 !important;
}

/////////////////////////////////////////////margin-top.

.m-0-top{
	margin-top:0px !important;
}

.m-2-top{
	margin-top:2px !important;
}

.m-4-top{
	margin-top:4px !important;
}

.m-7-top{
	margin-top:7px !important;
}

.m-5-top{
	margin-top:5px !important;
}

.m-10-top{
	margin-top:10px !important;
}

.m-15-top{
	margin-top:15px !important;
}

.m-20-top{
	margin-top:20px !important;
}

.m-25-top{
	margin-top:25px !important;
}

.m-30-top{
	margin-top:30px !important;
}

.m-40-top{
	margin-top:40px !important;
}

.m-50-top{
	margin-top:50px !important;
}

.m-70-top{
	margin-top:70px !important;
}

.m-80-top{
	margin-top:80px !important;
}

////////////////////////////////////////////margin-bottom

.m-0-bottom{
	margin-bottom:0px !important;
}

.m-5-bottom{
	margin-bottom:5px !important;
}

.m-10-bottom{
	margin-bottom:10px !important;
}

.m-14-bottom{
	margin-bottom:14px !important;
}

.m-15-bottom{
	margin-bottom:15px !important;
}

.m-20-bottom{
	margin-bottom:20px !important;
}

.m-25-bottom{
	margin-bottom:25px !important;
}

.m-30-bottom{
	margin-bottom:30px !important;
}

.m-40-bottom{
	margin-bottom:40px !important;
}

.m-50-bottom{
	margin-bottom:50px !important;
}

.m-55-bottom{
	margin-bottom:55px !important;
}

.m-0-all{
	margin:0px !important;
}

.m-70-bottom{
	margin-bottom:70px !important;
}

.m-80-bottom{
	margin-bottom:80px !important;
}

//////////////////////////////////////////margin-left

.m-20-percent-left{
	margin-left:20% !important;
}

.m-17-percent-left{
	margin-left:17% !important;
}

.m-10-percent-left{
	margin-left:10% !important;
}

.m-15-percent-left{
	margin-left:15% !important;
}


.m-25-percent-left{
	margin-left:25% !important;
}

.m-0-left{
	margin-left:0px !important;
}

.m-n-4-left{
	margin-left:-4px !important;
}

.m-5-left{
	margin-left:5px !important;
}

.m-10-left{
	margin-left:10px !important;
}

.m-15-left{
	margin-left:15px !important;
}

.m-17-left{
	margin-left:17px !important;
}

.m-20-left{
	margin-left:20px !important;
}

.m-30-left{
	margin-left:30px !important;
}

.m-25-percent-left{
	margin-left:25% !important;
}

.m-40-left{
	margin-left:40px !important;
}

.m-45-left{
	margin-left:45px !important;
}

.m-50-left{
	margin-left:50px !important;
}

.m-60-left{
	margin-left:60px !important;
}

.m-70-left{
	margin-left:70px !important;
}

.m-80-left{
	margin-left:80px !important;
}

///////////////////////////////////////margin-right

.m-0-right{
	margin-right:0px !important;
}

.m-5-right{
	margin-right:5px !important;
}

.m-15-right{
	margin-right:15px !important;
}

.m-10-right{
	margin-right:10px !important;
}

.m-20-right{
	margin-right:20px !important;
}

.m-30-right{
	margin-right:30px !important;
}





///paddings

//////////////////////////////////////////////padding-top

.p-0-top{
	padding-top:0px !important;
}

.p-5-top{
	padding-top:5px !important;
}


.p-10-top{
	padding-top:10px !important;
}

.p-12-top{
	padding-top:12px !important;
}

.p-15-top{
	padding-top:15px !important;
}

.p-19-top{
	padding-top:19px !important;
}

.p-20-top{
	padding-top:20px !important;
}

.p-25-top{
	padding-top:25px !important;
}

.p-30-top{
	padding-top:30px !important;
}

.p-40-top{
	padding-top:40px !important;
}

.p-50-top{
	padding-top:50px !important;
}

.p-60-top{
	padding-top:60px !important;
}

.p-70-top{
	padding-top:70px !important;
}

.p-80-top{
	padding-top:80px !important;
}


//////////////////////////////padding - bottom

.p-0-bottom{
	padding-bottom:0px !important;
}

.p-3-bottom{
	padding-bottom:3px !important;
}

.p-5-bottom{
	padding-bottom:5px !important;
}

.p-10-bottom{
	padding-bottom:10px !important;
}

.p-15-bottom{
	padding-bottom:15px !important;
}

.p-18-bottom{
	padding-bottom:18px !important;
}

.p-20-bottom{
	padding-bottom:20px !important;
}

.p-30-bottom{
	padding-bottom:30px !important;
}

.p-40-bottom{
	padding-bottom:40px !important;
}

.p-50-bottom{
	padding-bottom:50px !important;
}

.p-80-bottom{
	padding-bottom:80px !important;
}

.p-0-all{
	padding:0px !important;
}


//////////////////////////////////padding-left

.p-0-left{
	padding-left:0px !important;
}

.p-5-left{
	padding-left:5px !important;
}

.p-7-left{
	padding-left:7px !important;
}

.p-10-left{
	padding-left:10px !important;
}

.p-13-left{
	padding-left:13px !important;
}

.p-20-left{
	padding-left:20px !important;
}

.p-30-left{
	padding-left:30px !important;
}

.p-40-left{
	padding-left:40px !important;
}

.p-60-left{
	padding-left:60px !important;
}

.p-100-left{
	padding-left:100px !important;
}

/////////////////////////////padding-right

.p-0-right{
	padding-right:0px !important;
}

.p-5-right{
	padding-right:5px !important;
}

.p-10-right{
	padding-right:10px !important;
}

.p-15-right{
	padding-right:15px !important;
}

.p-20-right{
	padding-right:20px !important;
}

.p-30-right{
	padding-right:30px !important;
}

.p-40-right{
	padding-right:40px !important;
}

///////////////////////////////padding-all
.p-5-all{
	padding:5px !important;
}

.p-10-all{
	padding:10px !important;
}
//////////////////////////////css styles for global partials.

//1: for create section partial.

.section-create-weather-options{
  margin-left:30px;
  font-size:15px;
  cursor:pointer;
}

.create-section-icons-holder{
  display:none;
  
}

.dull{
  color:#bdbdbd !important;
}

.numberCircle {
    border-radius: 50%;
    //behavior: url(PIE.htc); /* remove if you don't care about IE8 */

   
    padding: 4px;
    background-color:white; 
    
    border: 1px solid grey;
    color: grey;
    text-align: center;

    font-size:8px;
    line-height:1.0;
    font-weight:400 !important;
}


///////////////////////ends

//2: for _preloader_animation partial.




/////////////////////ends.
