// Place all the styles related to the corners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.toggle{
	cursor:pointer;
}

.wi-day-sunny{
	color:#ffb300;
}

.wi-day-rain{
	color:#455a64;
}

.wi-lightning{
	color:black;
}

#markdown_dropdown:hover{
	color:black;
}

.svg path{
	fill:grey;
}

/**
.reveal_row:last-child {
	border-bottom:none !important;
}
***/



div[contenteditable=true]{
    display: inline-block;
    width:100%;
    outline:none;
    border:none;
    box-shadow:none;
}

div[contenteditable=true]:not(:focus):before {
    content:attr(placeholder);
    color: darkgrey;  
    pointer-events:none;
}

div[contenteditable=true]:focus{
	outline:none !important;
    border:none !important;
    box-shadow:none !important;
}

/****
class for deciding the fontweight and colors for the corner title.
**/
.ctitle
{
	&.edited{
		color:#546e7a;
		font-weight:400;
	}
	&.virgin{
		color:grey;
		font-weight:200;
	}
}


/***
class for deciding the fontweight and colors for the unit titles and intros.
**/
.utitle
{

	font-size: 18px;
	padding-left:1px;

	&.edited{
		color:#455a64;
		font-weight:500;
	}
	&.virgin{
		color:grey;
		font-weight:300;
	}	
}

.image{
	border-radius:50%;
	height:200px;
	width:140px;
	cursor:pointer;
}

.image_holder{
	
}



.options{
	margin-left: 5px;
	cursor:pointer;
}


.spam_count{
	position:absolute;
	top:10px;
	left:13px;
	font-weight:600;
}

.card-reveal .deactivator{
	cursor: pointer;
}

.jcrop-holder{
	margin-left:auto !important;
	margin-right:auto !important;
}



/*****
//TO MAKE PLACEHOLDERS WORK WITH MOZ AND CHROME IN CONTENTEDITABLE



/**
#about textarea{
	border:none !important;
	margin-bottom:10px !important;
	height:auto;
	resize:none;
}

#about textarea:focus{
	border-bottom:none !important;
	box-shadow: none;
	outline:none;
	margin-bottom:0px;
}
**/

