// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gainsboro : "#dcdcdc";
.corner_weather_box{
  border:1px solid !important; padding:20px ; margin-top:2px !important; border-radius:10px !important; border-color:"#dcdcdc" !important;
}