/***
get rid of the ghastly yellow background color that chrome adds when autofilling forms.
**/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input[type=submit] {
  -webkit-appearance: none !important;
}

label{
	width:100%;
	left:0px !important; 
}

.spinner-layer{
	border-color: white !important;
}