
.social_sign_in_button{

	cursor:pointer;
  	padding:0px;
  	border:none;
  	text-indent:0;
  	background-color:white;
  	color:white;
  	-webkit-box-shadow: 0px 2px 2px 0px rgba(214,207,214,1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(214,207,214,1);
	box-shadow: 0px 2px 2px 0px rgba(214,207,214,1);
	display:inline-block;
	border-radius:2px;
	border:1px solid #FAFAFA;
	

}

