<input type="file" id="file-input"></input>
<div id="result" class="result">
    <p style="display: none;">This demo works only in browsers with support for the <a href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or <a href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.</p>
</div>
<p id="actions" style="display:none;">
	<button type="button" id="edit">Edit</button>
	<button type="button" id="crop">Crop</button>
</p>
<div id="exif" class="exif" style="display:none;">
    <h2>Exif meta data</h2>
    <p id="thumbnail" class="thumbnail" style="display:none;"></p>
    <table></table>
</div>

<button id="upload_cropped">Upload cropped image</button>
<div id="paste_image_div" contenteditable="true">here is the contenteditable div</div>