<div id="recaptcha_errors_modal" class="modal bottom-sheet">
	<div class="modal-content">
	  <h4 class="pink-text text-darken-2 m-30-bottom">Whoops! There's a problem with the Captcha!
	  <i class="mdi-content-clear right cursor-pointer" id="close_modal"></i>
	  </h4>

	  <p id="recaptcha_failure_message" class="blue-grey-text text-darken-3 fw-500"></p>
	  <p class="blue-grey-text text-darken-3 fw-500">The Captcha looks like this.</p>   
	  <img src="/assets/recaptcha_for_modal.gif" height="100"/>
	</div>
</div>