<div id="request_failed_modal" class="modal bottom-sheet">
	<div class="modal-content">
	  <h4 class="pink-text text-darken-2 m-30-bottom">Whoops! There's a problem with the Captcha!
	  <i class="mdi-content-clear right cursor-pointer" id="close_modal"></i>
	  </h4>

	  <p id="request_failure_message" class="blue-grey-text text-darken-3 fw-500"></p>
	  <p class="blue-grey-text text-darken-3 fw-500">Your request didn't go through, try again in a little while.</p>   
	  <img src="/assets/recaptcha_for_modal.gif" height="100" id="captcha_image"/>
	</div>
</div>