<div class="row m-30-bottom">
  <div class="col l6 offset-l3 m6 s12 center">
  	<i class="teal-text mdi-action-thumb-up fs-100"></i>
    <h3 class="teal-text fw-200 ">Sign Up Successfull !</h3>
  </div>
</div>
<div class="row p-20-left p-20-righ p-20-top p-40-bottom center" style="border:1px solid gainsboro;">
	<h5 class="teal-text text-darken-3 fw-200">Hi <%= name %> We sent an email with a confirmation link to <span class="teal-text text-darken-4"><%= email %></span></h4>
	<h5 class="teal-text text-darken-3 fw-200">Please click on the link to activate your account.</h4>
	<div class="grey-text text-darken-2 m-20-top">If you don't receive the e-mail, check your "spam" folder or <u><%= link_to("click here",new_confirmation_path(User),class: "grey-text text-darken-4") %></u> to resend the confirmation email</div>	
</div>
