<% if failed_fields.empty? %>
		
	$("#request_failed_modal").openModal();


<% else %>
      
      grecaptcha.reset();

	<% failed_fields.stringify_keys.each do |field,message| %>

		<% if field=~/recaptcha/ %>

			$("#recaptcha_errors_modal").openModal();
      		$("#recaptcha_failure_message").
      		text("<%= escape_javascript(message)%>");

      	<% else %>

      		var label = $('label[for="user_<%= escape_javascript(field) %>"]');
      		var input = $('#user_' + '<%= escape_javascript(field) %>');

      		input.attr("class","invalid");
      		input.attr("aria-invalid",true);
      		label.attr("data-error","<%= escape_javascript(message[0]) %>");
                  $("input[class~='valid']").each(function(index){
                        $(this).prop("disabled",true);
                  });
                  

		<% end %>

	<% end %>

<% end %>
