<div id="main">
<div class="row m-40-bottom">
  <div class="col l6 offset-l3 m6 s12 center">
    <h3 class="teal-text  fw-200 ">Edit Account Settings</h3>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true, :authenticity_token => true, data: {type: "script"}, method: :put) do |f| %>
  <div class="row">
      <div class="col l6 m12 s12">
          <div class="input-field m-0-top">
            <input id="user_email" type="email" name="user[email]" required="true" class="virgin" autofocus="false"></input>
            <label for="user_email" autofocus="false">E-mail</label>
          </div>

          <div class="input-field m-30-top">
            <input id="user_password" type="password" name="user[password]" class="virgin"></input>
            <label for="user_password">New Password</label>
          </div>

          <div class="input-field m-30-top">
            <input id="user_password_confirmation" type="password" name="user[password_confirmation]"  class="virgin">
            </input>
            <label for="user_password_confirmation">Confirm New Password</label>
          </div>

          <div class="input-field m-30-top">
            <input id="user_current_password" type="password" name="user[current_password]" required="true" class="virgin">
            </input>
            <label for="user_current_password">Your Current PassWord</label>
         </div>   

      </div>
      
  </div>
  <div class="row">
    <div class="col l6 offset-l3 m12 s12 center">
      <div class="m-40-top">
              <button type="submit" value="Update" class="btn waves-effect waves-light teal">Update</button>
      </div>
    </div>
  </div>
  

<% end %>


</div>
































