<%= render '/users/registrations/recaptcha_errors_modal' %>
<%= render '/users/registrations/request_failed_modal' %>
<div id="main">
<div class="row m-10-bottom">
  <div class="col l6 offset-l3 m6 s12 center">
    <h3 class="teal-text  fw-200 ">Sign Up</h3>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true, :authenticity_token => true, data: {type: "script"}) do |f| %>
  <div class="row">
      <div class="col l5 m12 s12">
          <div class="input-field m-0-top">
            <input id="user_email" type="email" name="user[email]" required="true" class="virgin" autofocus="false"></input>
            <label for="user_email" autofocus="false">E-mail</label>
          </div>

          <div class="input-field m-30-top">
            <input id="user_password" type="password" name="user[password]" required="true" class="virgin"></input>
            <label for="user_password">Password</label>
          </div>

          <div class="input-field m-30-top">
            <input id="user_password_confirmation" type="password" name="user[password_confirmation]" required="true" class="virgin">
            </input>
            <label for="user_password_confirmation">Confirm Password</label>
          </div>

          <div class="input-field m-30-top">
            <input id="name" type="text" name="user[name]" required="true" class="virgin">
            </input>
            <label for="user_name">Your Name</label>
         </div>   



         <div class="m-40-top" style="margin-left:-2px;">
          <%= recaptcha_tags %>
         </div>

         

      </div>
      <div class="col l7  m12 s12 center">
        <i class="teal-text fs-250 mdi-social-person" style="margin-top:-70px;"></i>
        <div class="grey-text fw-300" style="margin-top:-80px;">Upload a profile picture</div>
        <div class="m-10-top divider width-50-percent m-25-percent-left"></div>
        <!-- -->
        <div class="m-50-top">
          <button type="submit" value="Finish" class="btn waves-effect waves-light teal">Finish</button>
          <div class="m-20-top grey-text fs-14 fw-300 width-50-percent m-25-percent-left">By submitting the form you accept the Terms of Service and our Privacy Policy</div>
        </div>
        
        <!-- -->
      </div>
  </div>
  

<% end %>


</div>
